@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --ffamily: 'Roboto';
    --black: #000;
    --grayish-white: #fafafa;
    --gray: rgb(94, 88, 88);
    --main-color: rgb(13, 117, 100);
    --main-color-hover: rgb(65, 148, 134);
    --white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ffamily);
}

img {
    display: block;
    width: 100%;
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    background-color: var(--grayish-white);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    padding: 1.8rem 0;
}

.logo {
    color: var(--gray);
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2.5px;
    justify-self: flex-start;
}

.navbar-toggle {
    justify-self: center;
    border: none;
    color: var(--grayish-white);
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
}

.navbar-collapse {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
}

.show-navbar {
    height: 205px;
}

.navbar-collapse ul {
    list-style: none;
}

.navbar-collapse li {
    margin: 0.7rem 0;
    letter-spacing: 2px;
    text-align: center;
}

.navbar-collapse a {
    opacity: 0.8;
}

.navbar-collapse a:hover {
    color: var(--main-color);
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

#cart-btn {
    border: none;
    background: none;
    font-size: 30px;
    color: var(--gray);
    position: relative;
}

#cart-count-info {
    position: absolute;
    top: -15px;
    background: var(--main-color);
    color: var(--grayish-white);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container {
    position: absolute;
    overflow-y: scroll;
    background: var(--white);
    width: 95%;
    height: 700px;
    top: 10%;
    left: 2%;
    right: 0;
    display: none;
    margin: 0;
    border-radius: 7px;
}

.cart-container::-webkit-scrollbar{
    width: 8px;
}

.show-cart-container {
    display: block;
}

.cart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    padding: 1rem 0.5rem;
    height: 140px;
    border-bottom: 1px solid var(--gray);
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-delete {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    padding: 0.5rem 0.8rem;
    border: none;
    background: var(--main-color);
    color: var(--white);
    border-radius: 7px;
    font-size: 20px;
}

.cart-item-delete:hover {
    background-color: var(--main-color-hover);
}

.cart-item img {
    width: 100px;
}

.cart-item-info {
    text-align: center;
}

.cart-item-info span {
    display: flex;
    flex-direction: column;
}

.cart-total {
    display: flex;
    padding: 1rem;
    align-items: center;
    background: var(--main-color);
    color: var(--white);
}

.cart-total h3 {
    margin-right: 0.5rem;
    font-size: 20px;
    font-weight: 400;
}

#cart-total-value {
    font-size: 20px;
    font-weight: bold;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-top: 3rem;
}

.home-content {
    display: flex;
    flex-direction: column;
}

.home-content h1 {
    margin-bottom: 0.5em;
    color: var(--main-color);
}

.text {
    color: var(--gray);
    margin-bottom: 2em;
}

.btn {
    outline: none;
    border: none;
    padding: 0.5em;
    width: 100px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 16px;
    border-radius: 7px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--grayish-white);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.products {
    padding: 5rem 0;
}

.products h2 {
    text-align: center;
    font-size: 32px;
    color: var(--main-color);
    letter-spacing: 8px;
    text-transform: uppercase;
}

.product-item {
    margin: 1rem 0;
}

.product-item:hover .add-to-cart {
    opacity: 1;
}

.product-image {
    padding: 0.5rem 0;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.product-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
}

.product-image:hover img {
    opacity: 0.8;
    cursor: pointer;
}

.product-content {
    padding: 1.6rem 0;
    text-align: center;
}

.add-to-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 7px;
    opacity: 0;
}

.add-to-cart:hover {
    background-color: var(--white);
    color: var(--main-color);
}

.product-category {
    margin: 0.7rem 0;
    display: inline-block;
    padding: 0.05rem 1.5rem;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 5px;
    letter-spacing: 2px;
}

.product-price {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}

footer {
    background-color: var(--grayish-white);
    padding: 2.5rem;
}

.left-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 50%;
}

.left-group .text {
    margin-top: 0.8rem;
}

.right-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    margin: auto;
    margin-top: 1.5rem;
}

.right-group .fab {
    color: var(--main-color);
    font-size: 20px;
}

.right-group .fab:hover {
    color: var(--main-color-hover);
}


@media (min-width: 900px) {
    .cart-container {
        width: 480px;
        left: auto;
        right: 5%;
    }
}

@media (min-width: 890px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
